.Main-Section{
    display: flex;
    flex-direction: column;
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    color: rgba(0, 40, 37, 0.907);
}

.Main-Section h1 {
    padding: 10%;
    padding-bottom: 0;
    font-size: 100px;
}

.Main-Section p {
    margin-left : 10%;
    font-size: 35px;
}