.Main-Section{
    display: flex;
    flex-direction: column;
    height: 90vh;
    color: rgba(0, 40, 37, 0.907);
}

.section-card-container h1 {
    padding: 10%;
    padding-bottom: 0;
    font-size: 100px;
    white-space: nowrap;
}

.section-card-container p {
    margin-left : 10%;
    font-size: 35px;
}

.section-card-container {
    margin: auto;
    margin-left: 10%;
    border-radius: 15px;
    background: linear-gradient(transparent 2% , white 100%);
    box-shadow:  20px 20px 60px #121212,
                -20px -20px 60px transparent;
    height: fit-content;
    width: max-content;
    padding: 2%;
}