@tailwind base;
@tailwind components;
@tailwind utilities;

#container {
  /* Set the height of the container to fill the viewport */
  background: linear-gradient(to bottom, #229c92, #186d67);
  /* position: fixed; */
  z-index: -1;
}

.particle{
  opacity: 0.5;
}

